<!DOCTYPE html>
<html>

<head>
    <title>Online Store</title>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="index.htm">
</head>

<body>
    <div class="fullpage" id="vueArea">
        <a name="top"></a>
        <!--Sticky nav-->
        <nav class="navbar navbar-expand-lg navbar-dark sticky-top px-5 lhn">
            <a class="navbar-brand" href="index.htm">Frond</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-fill w-70 menulinks mx-auto">
                    <li class="nav-item"><a class="nav-link" href="shop.htm">SHOP</a></li>
                    <li class="nav-item"><a class="nav-link" href="lookbook.htm">LOOKBOOK</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.htm">ABOUT</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.htm">CONTACT</a></li>
                </ul>
                <!--Button for Basket-->
                <div>
                    <button id="basket" type="button" class="btn btn-primary  my-xl-0 my-lg-0 my-md-3 my-sm-3 my-xs-3"
                        data-bs-toggle="modal" data-bs-target="#basketLink">
                        View Basket
                    </button>
                </div>
            </div>
        </nav>
        <!--Image and heading-->
        <header>
            <hgroup class="headerText">
                <h1>Shop for Plants!</h1>
            </hgroup>
        </header>

        <!--Main Info-->
        <div class="mainarea container-fluid" style="display:flex">

            <!--Section Content-->

            <div class="content col-xl-8 p-5 mx-auto">
                <section>
                    <div class="shopPage">
                        <div class="filterBlock">
                            <h4>Sort:</h4>
                            <button @click="sort('name')" id="sortName" type="button" class="btn btn-primary">Sort
                                Alphabetically</button>
                            <button @click="sort('price')" id="sortPrice" type="button" class="btn btn-primary">Sort by
                                Price</button>
                            <button @click="sort('type')" id="sortType" type="button" class="btn btn-primary">Sort by
                                Type</button>
                            <h4>Filter:</h4>
                            <select name="Type of Plant">
                                <option value="" disabled selected hidden>Type of Plant</option>
                                <option value="All types">All types</option>
                                <option value="Aglaonema">Aglaonema</option>
                                <option value="Alocasia">Alocasia</option>
                                <option value="Anthurium">Anthurium</option>
                                <option value="Begonia">Begonia</option>
                                <option value="Calathea">Calathea</option>
                                <option value="Fern">Fern</option>
                                <option value="Ficus">Ficus</option>
                                <option value="Monstera">Monstera</option>
                                <option value="Palm">Palm</option>
                                <option value="Pothos">Pothos</option>
                                <option value="Sanseveria">Sanseveria</option>
                                <option value="Syngonium">Syngonium</option>
                            </select>
                            <div id="checkCategories">
                                <input type="checkbox" id="checkTrailing">
                                <label for="checkTrailing">Trailing</label>
                                <input type="checkbox" id="checkClimbing">
                                <label for="checkClimbing">Climbing</label>
                                <input type="checkbox" id="checkStanding">
                                <label for="checkStanding">Standing</label>
                                <input type="checkbox" id="checkLarge">
                                <label for="checkLarge">Large</label>
                                <input type="checkbox" id="checkWaterwise">
                                <label for="checkWaterwise">Water-wise</label>
                                <input type="checkbox" id="checkRare">
                                <label for="checkRare">Rare</label>
                            </div>


                        </div>
                        <div class="shopGrid">
                            <div class="shopProduct" v-for='(item, index) in sortedItems'>
                                <image class="productImage" :src="item.image" v.model="item.image"></image>
                                <h4 v-model="item.name">{{item.name}}</h4>
                                <p v-model="item.price">R {{item.price}}</p>
                                <p v-model="item.type">{{item.type}}</p>
                                <button @click="addToBasket(item)">Add to basket</button>
                            </div>
                        </div>
                    </div>

                </section>

                <hr>

                <!--Basket-->
                <div class="modal fade" id="basketLink" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">My Basket</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ul class="basketList">
                                    <li class="basketItem" v-for='(item, index) in myBasket'>
                                        <image class="basketImage" :src="item.image" v.model="item.image"></image>
                                        <span>{{item.name}}</span>
                                        <span>R {{item.price}}</span>
                                        <button @click="deleteItem (item, index)" class="remove">&#10005</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <h4>Total: R {{total}}</h4>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="images/CV 2021_KDT.pdf" download>
                                    <button type="button" id="download" class="btn btn-primary">Checkout</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Javascript, Popper, Jquery bundle-->
                <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
                    crossorigin="anonymous"></script>

                <script>
                    new Vue({
                        el: '#vueArea',
                        data: {
                            product: {
                                name: '',
                                type: '',
                                category: [''],
                                new: false,
                                featured: false,
                                addedToBasket: false,
                                image: '',
                                price: '',
                            },

                            plantRange: [
                                {
                                    name: 'Philodendron Brasil',
                                    type: 'Philodendron',
                                    category: ['Trailing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/philodendronbrasil.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Philodendron Silver',
                                    type: 'Philodendron',
                                    category: ['Trailing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/philodendronsilver.jpg',
                                    price: '',
                                },

                                {
                                    name: 'String of Hearts',
                                    type: 'Ceropegia',
                                    category: ['Trailing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/stringofhearts.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Monstera Adansonii',
                                    type: 'Monstera',
                                    category: ['Climbing'],
                                    new: true,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/minimonstera.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Monstera Deliciosa',
                                    type: 'Monstera',
                                    category: ['Standing', 'Large'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/monstera.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Peace Lily',
                                    type: 'Lily',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/peacelily.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Dwarf Umbrella Tree',
                                    type: 'Tree',
                                    category: ['Standing', 'Large'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/umbrella.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Aglaonema Kiwi',
                                    type: 'Aglaonema',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/aglaonemakiwi.jpg',
                                    price: '200',
                                },

                                {
                                    name: 'Aglaonema Spotted Star',
                                    type: 'Aglaonema',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/aglaonemaspottedstar.jpg',
                                    price: '100',
                                },

                                {
                                    name: 'Sanseveria Moonshine',
                                    type: 'Sanseveria',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/moonshine.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Blue Star Fern',
                                    type: 'Fern',
                                    category: ['Shade-loving', 'Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/bluestarfern.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Toothed Brake Fern',
                                    type: 'Fern',
                                    category: ['Shade-loving', 'Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/toothedbrakefern.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Stephania Erecta',
                                    type: 'Caudex',
                                    category: ['Standing', 'Rare'],
                                    new: true,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/stephaniaerecta.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Birds Nest Fern',
                                    type: 'Fern',
                                    category: ['Shade-loving', 'Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/birdsnest.jpg',
                                    price: '',
                                },

                                {
                                    name: 'ZZ Plant',
                                    type: 'Zamioculcas',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/zzplant.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Alocasia Dracon Scale',
                                    type: 'Alocasia',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/alocasiadragonscale.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Pink Syngonium',
                                    type: 'Syngonium',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/syngonium.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Parlour Palm',
                                    type: 'Palm',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/areca.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Ponytail Palm',
                                    type: 'Palm',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/beaucarniarecurvata.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Snake Plant',
                                    type: 'Sanseveria',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/sanseveria.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Fiddle-leaf Fig',
                                    type: 'Ficus',
                                    category: ['Large', 'Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/ficuslyrata.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Syngonium Pixie',
                                    type: 'Syngonium',
                                    category: ['Small', 'Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/syngoniumpixie.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Amazonica Bambino',
                                    type: 'Alocasia',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/alocasiaamazonicabambino.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Ficus Tineke',
                                    type: 'Ficus',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/ficustineke.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Chinese Money Plant',
                                    type: 'Pilea',
                                    category: ['Standing'],
                                    new: false,
                                    featured: true,
                                    addedToBasket: false,
                                    image: 'images/stock/pilea.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Polka Dot Begonia',
                                    type: 'Begonia',
                                    category: ['Standing'],
                                    new: false,
                                    featured: true,
                                    addedToBasket: false,
                                    image: 'images/stock/begoniamaculata.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Begonia Arctic Breeze',
                                    type: 'Begonia',
                                    category: ['Standing'],
                                    new: true,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/begoniaarcticbreeze.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Caladium Carolyn',
                                    type: 'Caladium',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/caladiumcarolyn.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Anthurium Clarinervium',
                                    type: 'Anthurium',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/anthuriumclarinervium.jpg',
                                    price: '',
                                },

                                {
                                    name: 'White Anthurium',
                                    type: 'Anthurium',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/anthurium.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Calathea White Fusion',
                                    type: 'Calathea',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/calatheafusion.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Calathea Lancifolia',
                                    type: 'Calathea',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/calathealancifolea.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Rubber Plant',
                                    type: 'Ficus',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/ficusrobusta.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Calathea Makoyana',
                                    type: 'Calathea',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/calatheamakoyana.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Calathea Orbifolia',
                                    type: 'Calathea',
                                    category: ['Standing'],
                                    new: false,
                                    featured: true,
                                    addedToBasket: false,
                                    image: 'images/stock/calatheaorbifolia.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Monstera Albo',
                                    type: 'Monstera',
                                    category: ['Standing', 'Rare', 'Large'],
                                    new: true,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/mosteravariegata.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Dragon Plant',
                                    type: 'Dracaena',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/dracaenafragrans.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Calathea White Star',
                                    type: 'Calathea',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/calatheawhitestar.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Calathea Zebrina',
                                    type: 'Calathea',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/calatheazebrina.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Golden Pothos',
                                    type: 'Pothos',
                                    category: ['Trailing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/goldenpothos.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Mont Blanc',
                                    type: 'Succulent',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/montblanc.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Philodendron Verucosum',
                                    type: 'Philodendron',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/philodendronverucosum.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Satin Pothos',
                                    type: 'Pothos',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/scindaptuspictustrebie.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Philodendron Birkin',
                                    type: 'Philodendron',
                                    category: ['Standing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/philodendronbirkin.jpg',
                                    price: '',
                                },

                                {
                                    name: 'String of Pearls',
                                    type: 'Succulent',
                                    category: ['Trailing'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/stringofpearls.jpg',
                                    price: '',
                                },

                                {
                                    name: 'Aloe Tiki Zilla',
                                    type: 'Aloe',
                                    category: ['Standing', 'Succulent'],
                                    new: false,
                                    featured: false,
                                    addedToBasket: false,
                                    image: 'images/stock/aloetikizilla.jpg',
                                    price: '',
                                },
                            ],

                            myBasket: [],

                            sortBy: 'name',
                            sortDirection: 'asc',

                            total: 0,
                        },

                        methods: {
                            sort: function (s) {
                                if (s === this.sortBy) {
                                    this.sortDirection = this.sortDirection === 'asc' ? 'desc' : 'asc';
                                }
                                this.sortBy = s;
                            },

                            addToBasket(item) {
                                item.addedToBasket = true;
                                this.total = parseFloat(this.total) + parseFloat(item.price);
                                this.myBasket.push(Object.assign({}, item));
                                const taskArrStorage = JSON.stringify(this.myBasket);
                                const totalStorage = JSON.stringify(this.total);
                                localStorage.setItem("taskArrStorage", taskArrStorage);
                                localStorage.setItem("totalStorage", totalStorage);
                                console.log('Array Stored in Local')
                            },

                            deleteItem(item, index) {
                                this.total = parseFloat(this.total) - parseFloat(item.price);
                                this.myBasket.splice(index, 1);
                                const taskArrStorage = JSON.stringify(this.myBasket);
                                const totalStorage = JSON.stringify(this.total);
                                localStorage.setItem("taskArrStorage", taskArrStorage);
                                localStorage.setItem("totalStorage", totalStorage);
                                console.log('Array Stored in Local')
                            }
                        },

                        mounted: function (item) {
                            let basketSaved = localStorage.getItem("taskArrStorage");
                            let totalSaved = localStorage.getItem("totalStorage");
                            let basketLoad = JSON.parse(basketSaved);
                            let totalLoad = JSON.parse(totalSaved);
                            if (basketLoad === null) {
                                console.log('No objects in array')
                            } else {
                                this.myBasket.push(...basketLoad);
                                this.total = parseFloat(totalLoad);
                            }
                        },

                        computed: {
                            sortedItems: function () {
                                return this.plantRange.sort((p1, p2) => {
                                    let modifier = 1;
                                    if (this.sortDirection === 'desc') modifier = -1;
                                    if (p1[this.sortBy] < p2[this.sortBy]) return -1 * modifier; if (p1[this.sortBy] > p2[this.sortBy]) return 1 * modifier;
                                    return 0;
                                });
                            }
                        },

                    })
                </script>

</body>

</html>