/*General, fonts, nav /////////////////////////////////////////////////////////////////////////*/

html {
    background-color: #efefef;
    scroll-behavior: smooth;
}

.fullpage {
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.mainarea {
    flex-wrap: wrap;
    padding:0%;
}

.content {
    background-color: #efefef;
}    

#navbarSupportedContent{
   vertical-align: middle;
}

.navbar-brand {
    max-width: 120px;
}

.nav-item {
   padding-left: 20px;
   padding-right: 20px;
}

.lhn {
   align-items: center;
   background-color:#1d1d1d;
   font-family: 'Montserrat', sans-serif;
   color: white;
}

@font-face {
    font-family:'Montserrat-Thin';
    src: url("Montserrat/Montserrat-Thin.ttf")
    format('truetype');
}

/*Headings ////////////////////////////////////////////////////////////////////////////////////*/

h1#name {
    font-size: 80px;
}

h1 {
    color: #1d1d1d;
    padding-top: 40px;
}

h2#title {
    font-family:'Montserrat-Thin';
    font-size:28px;
    padding-top:15px;
}

h3 {
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}

h4 {
    font-size:18px;
    padding-bottom: 10px;
}


/*Split Page layout ///////////////////////////////////////////////////////////////////////////*/

.splitPage {
    display:inline-flex;
    flex-wrap:wrap;
    width:100%;
}

.split1 {
    flex:1;
    float:inline-start;
}

.split2 {
    flex:1;
    float:inline-end;
}

.splitProductGrid {
    display:grid;
    grid-template-columns: 33% 33% 33%;
}

/*Home page ///////////////////////////////////////////////////////////////////////////////////*/

.headerPanel {
    background-color: #1f2d2e;
    background-image: url("hero4.jpg");
    min-height: 400px;
    background-position: center;
    background-size: cover;
}

.headerText {
    padding-left:2%;
    text-align:left;
    color: white;
    margin-top:auto;
    margin-bottom:auto;
}

.featureImage {
    max-width: 90%;
    margin-bottom: 20px;
}

/*About page /////////////////////////////////////////////////////////////////////////////////*/
#aboutHeader {
    background-color: #1f2d2e;
    background-image: url("store2.jpg");
    height: 200px;
    background-position: center;
    background-size: cover;
}

div#aboutCard {
    padding-left:40px;
    padding-right:40px;
    padding-bottom:20px;
    padding-top:20px;
}

#storeFront {
    max-width: 566px;
    margin-top: 10px;
    border-radius: 4px;
}

.splitTeamGrid {
    display:grid;
    grid-template-columns: 33% 33% 33%;
}

.teamPic {
    margin-bottom: 20px;
    max-width: 170px;
    border-radius: 4px;
}

h4.teamMemberName {
    padding-bottom: 0px;
}


/*Contact page /////////////////////////////////////////////////////////////////////////////////*/
.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 90%;
}

.gmap_canvas {
    overflow: hidden;
    background: none;
    height: 400px;
    width: 100%;
}

.formLine {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 25% 40%;
}

#messageBox {
    height: 100px;
}

/*Shop page /////////////////////////////////////////////////////////////////////////////////*/
.shopPage {
    display:inline-flex;
    flex-wrap: wrap;
    width:100%;
}

.filterBlock {
    flex:1;
    float:inline-start;
    background-color: #808080;
    max-width:20%;
    height:fit-content;
}

.shopGrid {
    flex:1; 
    float:inline-end;
    width: 80%;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.shopProduct {
    grid-column: span 1;
    grid-row: span 1;
}
;
.productImage {
    max-width: 210px;
}

.basketList {
    list-style:none;
    padding-left:0px;
}

.basketItem {
    padding-bottom: 10px;
    display:grid;
    grid-template-columns: 20% 55% 15% 10%
}

.basketImage {
    max-width:50px;
    grid-column-start: 1;
    grid-column-end: 1;
}

/*Lookbook ////////////////////////////////////////////////////////////////////////////////////*/
.lookGrid {
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 260px 260px 260px 260px 260px 260px;
}

#look1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:2;
    max-height:520px;
    border-width: 2px;
    border-style: solid;
    border-color: #efefef;
}

#look2 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:1;
    max-height:260px;
    border-width: 2px;
    border-style: solid;
    border-color: #efefef;
}

#look3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:2;
    max-height:260px;
    border-width: 2px;
    border-style: solid;
    border-color: #efefef;
}

#look4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end:3;
    max-height:260px;
    border-width: 2px;
    border-style: solid;
    border-color: #efefef;
}

#look5 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end:3;
    max-height:260px;
    border-width: 2px;
    border-style: solid;
    border-color: #efefef;
}

#look6 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end:4;
    max-height:520px;
    border-width: 2px;
    border-style: solid;
    border-color: #efefef;
}

#look7 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end:5;
    max-height:520px;
    border-width: 2px;
    border-style: solid;
    border-color: #efefef;
}

#look8 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end:4;
    max-height:260px;
    border-width: 2px;
    border-style: solid;
    border-color: #efefef;
}

#look9 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end:6;
    max-height:260px;
    border-width: 2px;
    border-style: solid;
    border-color: #efefef;
}

#look10 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end:6;
    max-height:520px;
    border-width: 2px;
    border-style: solid;
    border-color: #efefef;
}

.galleryPic {
    width:100%;
    padding-left:5%;
    padding-right:5%;
}

.galleryModal {
    max-height:80vh;
    max-width:55%;
}

.carousel-control-prev {
    width: 40px;
}
.carousel-control-next {
    width: 40px;
}

.carousel-control-prev-icon {
    filter: invert(100%)
}
.carousel-control-next-icon {
    filter: invert(100%)
}

/*Link styles /////////////////////////////////////////////////////////////////////////////////*/

a:link {
    color: #212529;
}
  
a:visited {
    color: #212529;
}
  
a:hover {
    color: #9e4e38;
}

a {
    text-decoration: none;
}

a#backtotop:link {
    color: #9e4e38;
}

a#backtotop:visited {
    color: #9e4e38;
}

a#backtotop:hover {
    color: #fbad8e;
}

/*Modals /////////////////////////////////////////////////////////////////////////////////*/
.modal-content {
    font-family: 'Montserrat', sans-serif;
    padding:15px; 
}
.modal-content > * {
    padding:20px; 
}

/*Cards /////////////////////////////////////////////////////////////////////////////////*/
#aboutCard {
    margin-right:20px;
}

